.container {
    margin-top: 2rem;
    width: 100%;
    padding: 3rem;
    font-family: Inter;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.template {
    max-width: 900px;
}
.banner img {
    width: 100%;
}
.template-info {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.featured, .readMore {
    width: 400px;
}
.featured h1 {
    font-size: 4.5rem;
    font-weight: 800;
    color: hsl(240, 100%, 5%);
}
.readMore {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.readMore p {
    font-size: 1.4rem;
    color: hsl(240, 100%, 5%);
}
.btn {
    width: 40%;
    height: 40px;
    background-color: hsl(240, 100%, 5%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: Inter;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    transition: ease-in 0.2s;
}
.btn:hover {
    background-color: hsl(5, 85%, 63%);
}
.news {
    background-color: hsl(240, 100%, 5%);
    width: 500px;
    padding: 3rem;
    font-family: Inter;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.news h3 {
    transition: ease-in 0.1s;
}
.news h3:hover {
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}
.box-news {
    margin-top: 2rem;
    height: 100px;
    border-bottom: 1px solid hsl(236, 13%, 42%);;
}
.box-news-last {
    margin-top: 2rem;
    height: 100px;
}
.news h2 {
    font-size: 4rem;
    color: hsl(35, 77%, 62%);
    margin-bottom: 2.5rem;
}
.news h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.news h4 {
    font-size: 1.4rem;
    font-weight: 100;
    color: hsl(233, 8%, 79%);
}